body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, Georgia;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.holder{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}
.main{
    font-size: 150%;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
}
.title{
    font-weight: bolder;
    font-size: 140%;
}
ul {
    padding: 0;
    list-style-type: none;
}
a{
    color: blue;
    text-decoration: none;
}
