/* SCROLL BAR*/ 

body::-webkit-scrollbar{background-color:#fff;width:16px}
body::-webkit-scrollbar-track{background-color:#fff}
body::-webkit-scrollbar-thumb{background-color:#babac0;border-radius:16px;border:4px solid #fff}
body::-webkit-scrollbar-button{display:none}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

body{
    width: 1000px;
    margin: auto;
    padding: 0;
    font-family:"Poppins",serif;
}

.mainbody{
    height: 80vh;
}   

.image {
  background-image: url("/assets/hshot_cropped_more.jpg");
}

.image {
  width: 50%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.text {
  box-sizing: border-box;
  float: left;
  margin-left: 100%;
  padding-left: 1em;
  width: 100%;
  text-align: justify;
}
.text {
  border: 3px 
}

.mpglink{
    text-decoration: underline;
    color: blue;
}

li{
    list-style: none;

}
a{
    color:#262626;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/* loader*/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #Fff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;                   
    border: 4px solid #242f3f;
    animation: loader 2s infinite ease;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  

/* NAV BAR*/

body .navbar{
    margin-top: 50px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
body .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
body .nav-branding{
    font-family: 'Times New Roman', Times, serif, Georgia;
    font-size: 2.1rem;
    font-weight: bold;
}
body .nav-branding:hover{  
    text-decoration: none;
}
body .nav-item{
    font-size: 1.1em;
}
body .nav-link{
    transition:0.7s ease;
}
body .hamburger{
    display: none;
    cursor: pointer;
}
body .bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    background-color: #262626;
}

/* MAIN HEADSHOT IMAGE*/
.responsive_img{
    width: 100%;
    margin-bottom: 1rem;
    height: auto
}
.page_title{
    margin-top: 0;
}
.subtitle_text{
    margin-block: 50;
}

/* MAINBODY STUFF*/

.mainbody{
    margin-top: 19.922px;
}




/* PHOTO GALLERY*/

#gallery {
    line-height:0;
    column-count:3;
    column-gap:5px;

}
 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: grayscale(80%);
}
 #gallery img:hover {
    filter:none;
}

/* WRITING CATALOG */


.writing_catalog{
    margin-top: 8vh;
}

.collapse_container{
    margin-bottom: 2em;                             
}
.collapse_label{
    color: black;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0%;
}
.writing_list{
    height: 0;
    overflow: hidden;
    margin: 0;
    overflow-y: auto;
    transition: 1s;
}
.collapse_container.active .writing_list{
    list-style-position: inside;
    padding-left: 0;
    height: auto;

}
.writing_piece{
    padding: 0;
    margin-block: 1em;

}
.writing_type{
    margin-bottom: 0px;
    font-style: italic;
}
.writing_link:hover{
    text-decoration: underline;
}


iframe{  /* for google doc embeds */
    display: block;
    width: 80%;
    margin-inline: auto;
    height: 70vh;
}

/* PROJECT CATALOG */

.project_catalog{
    margin-top: 8vh;
}

.project_list{
    list-style-position: inside;
    padding-left: 0;
}
.project_piece{

    padding: 0;
    margin-block: 2.5em;
}
.date{
    margin-top: 0em;
    margin-bottom: 0px;
    font-style: italic;
}
.writing_award{
    color: crimson;
    margin-bottom: 0em;

}
.project_link:hover{
    text-decoration: underline;
}
.project_blurb{
    color:#707070;
    margin-top: 0.25em;
    font-size: 0.9em;
}


/* ---- WRITING AND PROJECTS */

.pg_stylized ol{
    margin-block: 2.5em;
    padding-left: 5%;
}

.pg_stylized ol li{
    list-style-type: decimal;
    margin-block: 1em;
}
.pg_stylized a{
    text-decoration: underline;
    color: blue;
}
.pg_stylized iframe{
    margin-block: 2em;
}



/* ------------ */
/* MEDIA QUERIES*/
/* ------------ */


@media only screen and (max-width:1063px){
    body{
        width: 94vw;
    }
    #gallery {
        column-count:         2;
    }
}

@media only screen and (max-width:850px){
    .image {
        background-image: url("/assets/hshot_cropped_more.jpg");
    }
      
    .image {
        width: 100%;
        height: 48vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
    }
      
    .text {
        box-sizing: border-box;
        float: left;
        margin: 49vh 0vh 0vh 0vh;
        padding-left: 0;
        width: 100%;
    }
    
}

@media only screen and (min-height: 780px){
    .mainbody{
        height: 80vh;
        position: relative;
    }
    
    .wrapper{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}


@media only screen and (max-width: 730px){
    #gallery {
        column-count:1;
    }
}

@media(max-width:600px){
    body::-webkit-scrollbar {
        display: none;
      }
    body .hamburger{
        display: block;
    }
    body .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    body .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    body .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    body .nav-menu{
        position: fixed;
        padding: 0;
        left:-1000%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: white;
        width: 98vw;
        margin: 0 1vw;
        text-align: center;
    }
    body .nav-item{
        margin: 16px 0;
    }
    body .nav-menu.active{
        left:0;
    }
}